/* Estructura principal */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
}


/* Menú de navegación */

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo {
    color: aliceblue;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: aliceblue;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

.nav-link:hover {
    background: #1b9bff;
    transition: 0.5s;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

@media (max-witdh: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px, 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover {
        background: none;
        color: #0082e6;
    }
    #check :checked {
        left: 0;
    }
}


/* Cabecera */

header {
    background-color: blue;
}


/* Principal */

main {
    background-color: yellowgreen;
}


/* Sección 1 Mision */

.mision {
    background-color: pink;
}


/* Sección 2 Idea */

.idea {}


/* Sección 3 Proyectos */

.proyectos {
    height: 20%;
    background-color: rebeccapurple;
}


/* Sección 4 Miembros */


/* .miembros {
    height: 15%;
} */


/* .proyectos{
    background-color: seagreen;
} */

.grid-proyectos {
    background-color: orange;
    display: grid;
    /* Código para media querie mobile first */
    grid-template-columns: auto;
    padding: 3em;
    /* Código para media querie pantalla ordenador - tv */
    /*grid-template-columns: repeat(4, 25%); 
    grid-gap: 9em;*/
}

.proyectos>h2 {
    font-size: 2em;
    text-align: center;
}


/* Sección 4 Miembros */

.miembros {
    background-color: blueviolet;
}


/* Footer */

footer {
    background-color: maroon;
}


/* Media queries */


/* 
@media (max-width: 600px) {
}
*/