/* Estructura principal */

@font-face {
    font-family: 'Comfortaa';
    src: url(http://fonts.google.com/specimen/Comfortaa?query=co);
    Font-style: normal;
    font-weight: normal;
}

html {
    font-family: Comfortaa;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
}


/* Menú de navegación */

nav {
    background: #FF9EB3;
    height: 80px;
    width: 100%;
}

label.logo {
    color: #C561C6;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: #F8E0FB;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

.nav-link:hover {
    background: #EFB8FE;
    transition: 0.5s;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

@media (max-witdh: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #663399;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px, 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover {
        background: none;
        color: #cd94f8;
    }
    #check :checked {
        left: 0;
    }
}


/* Cabecera */

header {
    background-color: rgb(234, 164, 225);
}


/* Principal */


/* Sección 1 Mision */

.mision {
    background-color: blueviolet;
}


/* Sección 1 Mision */

.mision {
    background-color: #D8BFD8;
}


/* Sección 2 Idea */


/* Sección 1 Mision */


/* Sección 2 Idea */


/* Sección 3 Proyectos */

.proyectos {
    background-color: #663399;
}

.grid-proyectos {
    background-color: orange;
    display: grid;
    /* Código para media querie mobile first */
    grid-template-columns: auto;
    padding: 3em;
    /* Código para media querie pantalla ordenador - tv */
    /*grid-template-columns: repeat(4, 25%); 
    grid-gap: 9em;*/
}

.proyectos>h2 {
    font-size: 2em;
    text-align: center;
}


/* Sección 4 Equipo */

.Equipo {
    background-color: blueviolet;
}

.equipo-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.equipo-card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
}


/* media query para equipo */

@media (max-width: 600px) {
    .equipo-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .equipo-card {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* Footer */

footer {
    background-color: maroon;
}


/* Media queries */


/* 
@media (max-width: 600px) {
}
*/